/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus{ outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   
}
h2{
    
}
body {
    font-family: 'Lato', sans-serif;
   
}
a:hover { text-decoration: none }
.section-padding{
    padding: 80px 0;
}
.quote-form-wrap img{
    display: block;
    margin: 0 auto;
}
.quote-form{
    background-color: #19B5FE;
    margin-top: -84px;
    padding-top: 34px;
    max-width: 770px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    
}
.quote-form h3{
    color: #fff;
    text-align: center;
    text-transform:uppercase;
    font-weight: bold;
    position: relative;
    padding-bottom: 20px;
    margin-top: 0;
    
}
.quote-form h3:before{
    position: absolute;
    left: 50%;
    height: 1px;
    bottom: 0;
    width: 130px;
    content: "";
    background: #fff;
    margin-left: -65px;
}
.quote-form h3:after{
    position: absolute;
    left: 50%;
    content: "";
    height: 13px;
    width: 13px;
    border: 2px solid #fff;
    border-radius: 50%;
    bottom:-6.5px; 
    margin-left: -6.5px;
	background: #19b5ff;
    
}
.quote-form input,
.quote-form textarea{
    background: none;
    border: none;
    
}
.quote-form input,
.quote-form textarea{
    border-bottom: 1px solid #8fdafc;
    color: #fff;
    width: 100%;
    padding: 10px 0;
}
.quote-form textarea{
    height: 100px;
}
.quote-form .form-submit{
    text-align: center;
}
.quote-form button{
    background-color: #fff;
    border:none;
    color:#2ab6fb;
    padding:10px;
    border-radius:3px;
    text-transform:uppercase;
    margin-top: 20px;
    font-weight: 700;
}


.quote-form input[type="text"]:focus{
    outline: 0 solid;

}











